In [142]:
import numpy as np
import pandas as pd
import os
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [143]:
#Main Laptop
file_path = 'C:/Users/HELLO/OneDrive/Desktop/skripsi/dataset-in'

## Read CSV / Datasets

### Before Reverse

In [144]:
'''
df_agustus = pd.read_csv(file_path+'/raw_before_reverse/1_dataset_transaksi_agustus.csv',delimiter=';')
df_september = pd.read_csv(file_path+'/raw_before_reverse/2_dataset_transaksi_september.csv',delimiter=';')
df_oktober = pd.read_csv(file_path+'/raw_before_reverse/3_dataset_transaksi_oktober.csv',delimiter=';')
df_november = pd.read_csv(file_path+'/raw_before_reverse/4_dataset_transaksi_november.csv',delimiter=';')
'''

"\ndf_agustus = pd.read_csv(file_path+'/raw_before_reverse/1_dataset_transaksi_agustus.csv',delimiter=';')\ndf_september = pd.read_csv(file_path+'/raw_before_reverse/2_dataset_transaksi_september.csv',delimiter=';')\ndf_oktober = pd.read_csv(file_path+'/raw_before_reverse/3_dataset_transaksi_oktober.csv',delimiter=';')\ndf_november = pd.read_csv(file_path+'/raw_before_reverse/4_dataset_transaksi_november.csv',delimiter=';')\n"

In [145]:
df_desember = pd.read_csv(file_path+'/raw_before_reverse/5_dataset_transaksi_desember_2023.csv',delimiter=';')
df_januari = pd.read_csv(file_path+'/raw_before_reverse/6_dataset_transaksi_januari_2024.csv',delimiter=';')

### After Reverse

In [146]:
#import glob

In [147]:
'''
#Read CSV After Reverse

file_names = glob.glob(file_path+'/raw_after_reverse/*.csv')
'''

"\n#Read CSV After Reverse\n\nfile_names = glob.glob(file_path+'/raw_after_reverse/*.csv')\n"

--------------------------------------------------

## Reverse Datasets

In [148]:
'''
dfAgustusReversed = df_agustus[::-1].reset_index(drop=True)
dfSeptemberReversed = df_september[::-1].reset_index(drop=True)
dfOktoberReversed = df_oktober[::-1].reset_index(drop=True)
dfNovemberReversed = df_november[::-1].reset_index(drop=True)
'''

'\ndfAgustusReversed = df_agustus[::-1].reset_index(drop=True)\ndfSeptemberReversed = df_september[::-1].reset_index(drop=True)\ndfOktoberReversed = df_oktober[::-1].reset_index(drop=True)\ndfNovemberReversed = df_november[::-1].reset_index(drop=True)\n'

In [156]:
dfDesemberReversed = df_desember[::-1].reset_index(drop=True)
dfJanuariReversed = df_januari[::-1].reset_index(drop=True)

In [159]:
dfJanuariReversed

,Outlet name,Merchant ID,Feature,Order ID,Transaction ID,Amount,Net Amount,Transaction Status,Transaction time,Payment Type,...,QRIS Transaction Type,QRIS Reference ID,QRIS Issuer,QRIS Acquirer,Card Type,Credit Card Number,Settlement Date,Settlement time,TID,Invoice No
0,Kopi In,Vila Santika Jaya,G620041644,NaN,"QRIS-01202401051408280RP8oitDnIID,012024010514...",44000,43692,SETTLEMENT,2024-01-05T21:08:28.000+07:00,QRIS,...,OFF-US-GOPAY-ACQUIRER,364123594,BCA,gopay,NaN,NaN,01/05/2024,2024-01-05T21:08:29.000+07:00,"ad9f3e67,tDnIID",NaN
1,Kopi In,Vila Santika Jaya,G620041644,NaN,"1-G620041644-05012024-J5H9-1,ef91e920-abd3-11e...",44000,0,SETTLEMENT,2024-01-05T21:08:44.000+07:00,Offline Telkomsel Cash,...,NaN,NaN,NaN,NaN,NaN,NaN,01/05/2024,2024-01-05T21:08:45.000+07:00,NaN,adb7ea
2,Kopi In,Vila Santika Jaya,G620041644,NaN,"1-G620041644-06012024-ZFRR-1,e5dcdc37-aca2-11e...",36000,0,SETTLEMENT,2024-01-06T21:50:13.000+07:00,Cash,...,NaN,NaN,NaN,NaN,NaN,NaN,01/06/2024,2024-01-06T21:50:15.000+07:00,NaN,8689fc
3,Kopi In,Vila Santika Jaya,G620041644,NaN,"2-G620041644-06012024-ZOZY-1,51f592cd-acaa-11e...",40000,0,SETTLEMENT,2024-01-06T22:43:21.000+07:00,Cash,...,NaN,NaN,NaN,NaN,NaN,NaN,01/06/2024,2024-01-06T22:43:23.000+07:00,NaN,5d6c9f
4,Kopi In,Vila Santika Jaya,G620041644,NaN,"1-G620041644-07012024-L7O3-1,07240e9b-ad70-11e...",48000,0,SETTLEMENT,2024-01-07T22:18:36.000+07:00,Cash,...,NaN,NaN,NaN,NaN,NaN,NaN,01/07/2024,2024-01-07T22:18:38.000+07:00,NaN,c2fa99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Kopi In,Vila Santika Jaya,G620041644,NaN,"1-G620041644-30012024-5CVU-1,1e4a16ed-bf68-11e...",20000,0,SETTLEMENT,2024-01-30T19:07:20.000+07:00,Cash,...,NaN,NaN,NaN,NaN,NaN,NaN,01/30/2024,2024-01-30T19:07:23.000+07:00,NaN,620be5
65,Kopi In,Vila Santika Jaya,G620041644,NaN,"3-G620041644-30012024-30L0-1,54fda020-bf84-11e...",58000,0,SETTLEMENT,2024-01-30T22:29:17.000+07:00,Cash,...,NaN,NaN,NaN,NaN,NaN,NaN,01/30/2024,2024-01-30T22:29:21.000+07:00,NaN,ca4cd5
66,Kopi In,Vila Santika Jaya,G620041644,NaN,"4-G620041644-30012024-UN96-1,7685c337-bf84-11e...",44000,0,SETTLEMENT,2024-01-30T22:30:14.000+07:00,Cash,...,NaN,NaN,NaN,NaN,NaN,NaN,01/30/2024,2024-01-30T22:30:16.000+07:00,NaN,0676bd
67,Kopi In,Vila Santika Jaya,G620041644,NaN,"5-G620041644-30012024-BMIA-1,8f756dfe-bf84-11e...",45000,0,SETTLEMENT,2024-01-30T22:30:55.000+07:00,Cash,...,NaN,NaN,NaN,NaN,NaN,NaN,01/30/2024,2024-01-30T22:30:58.000+07:00,NaN,72c1cc
68,Kopi In,Vila Santika Jaya,G620041644,NaN,"6-G620041644-30012024-OKWQ-1,a93a4316-bf84-11e...",58000,0,SETTLEMENT,2024-01-30T22:31:39.000+07:00,Cash,...,NaN,NaN,NaN,NaN,NaN,NaN,01/30/2024,2024-01-30T22:31:41.000+07:00,NaN,5b78a3

In [150]:
'''
dfAgustusReversed.to_csv('C:/Users/Dania/OneDrive/Desktop/DESKTOP/Mas Aktsar/Skripsi/File Skripsi_V1/dataset_kopiin/raw_after_reverse/1_dataset_transaksi_agustus_reversed.csv')
dfSeptemberReversed.to_csv('C:/Users/Dania/OneDrive/Desktop/DESKTOP/Mas Aktsar/Skripsi/File Skripsi_V1/dataset_kopiin/raw_after_reverse/2_dataset_transaksi_september_reversed.csv')
dfOktoberReversed.to_csv('C:/Users/Dania/OneDrive/Desktop/DESKTOP/Mas Aktsar/Skripsi/File Skripsi_V1/dataset_kopiin/raw_after_reverse/3_dataset_transaksi_oktober_reversed.csv')
dfNovemberReversed.to_csv('C:/Users/Dania/OneDrive/Desktop/DESKTOP/Mas Aktsar/Skripsi/File Skripsi_V1/dataset_kopiin/raw_after_reverse/4_dataset_transaksi_november_reversed.csv')
'''

"\ndfAgustusReversed.to_csv('C:/Users/Dania/OneDrive/Desktop/DESKTOP/Mas Aktsar/Skripsi/File Skripsi_V1/dataset_kopiin/raw_after_reverse/1_dataset_transaksi_agustus_reversed.csv')\ndfSeptemberReversed.to_csv('C:/Users/Dania/OneDrive/Desktop/DESKTOP/Mas Aktsar/Skripsi/File Skripsi_V1/dataset_kopiin/raw_after_reverse/2_dataset_transaksi_september_reversed.csv')\ndfOktoberReversed.to_csv('C:/Users/Dania/OneDrive/Desktop/DESKTOP/Mas Aktsar/Skripsi/File Skripsi_V1/dataset_kopiin/raw_after_reverse/3_dataset_transaksi_oktober_reversed.csv')\ndfNovemberReversed.to_csv('C:/Users/Dania/OneDrive/Desktop/DESKTOP/Mas Aktsar/Skripsi/File Skripsi_V1/dataset_kopiin/raw_after_reverse/4_dataset_transaksi_november_reversed.csv')\n"

In [157]:
dfDesemberReversed.to_csv('C:/Users/HELLO/OneDrive/Desktop/skripsi/dataset-in/raw_after_reverse/5_dataset_transaksi_desember_reversed.csv', index=False)
dfJanuariReversed.to_csv('C:/Users/HELLO/OneDrive/Desktop/skripsi/dataset-in/raw_after_reverse/6_dataset_transaksi_januari_reversed.csv', index=False)

In [ ]:
'''
li = []
'''

In [ ]:
'''
for filename in file_names:
    df = pd.read_csv(filename, index_col=None, header=0, delimiter=';')
    li.append(df)
frame = pd.concat(li, axis=0, ignore_index=True)
'''

In [ ]:
'''
frame.to_csv('C:/Users/Dania/OneDrive/Desktop/DESKTOP/Mas Aktsar/Skripsi/File Skripsi_V1/dataset_kopiin/raw_data_transaksi_kopiin.csv')
'''