In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from statsmodels.tsa.stattools import adfuller

In [2]:
engine = create_engine(
    'postgresql://postgres:Duapuluhenam0299@localhost:5432/database_in'
)

In [4]:
raw_df = pd.read_sql('SELECT "Amount", "Net_Amount", "Settlement_Date" FROM public.transaksi', engine)

In [6]:
raw_df.dtypes

Amount              int64
Net_Amount          int64
Settlement_Date    object
dtype: object